*{
	text-align: center
}

.jumbotron{
    padding-top: 2.25%;
    padding-bottom: 2.25%;
}

#activity{
  	overflow-y: scroll;
  	height: 51vh;
}

::-webkit-scrollbar { 
    display: none; 
}

button:focus { outline:0 !important; }

span{
	margin-left: 72px;
}
.edit{
	float: right;
	box-shadow: none;
	margin: 0 2px 0 2px;
}

.update{
	float: right;
	box-shadow: none;
	margin: 0 2px 0 2px;
}

.delete{
	float: right;
	box-shadow: none;
	margin: 0 2px 0 2px;
}


.circle{
    border: 2px solid;
    border-radius: 25px;
    outline:0;
    margin: 4px 0 4px 0;
}

.pick{
    margin: 6px 0 6px 0;
}

.btn-lg{
	width: 50%;
	border-color: none;
} 

/*This size is for tablets*/
@media screen and (max-height: 400px) {
 /* The body's bg color will be #333 */
	#activity{
	  	overflow-y: scroll;
	  	height: 40vh;
	}
	.jumbotron{
	    padding-top: 0.5%;
	    padding-bottom: 0.5%;
	}

	.circle{
	    margin: 2px 0 2px 0;
	}
}